@import 'materialize';

html {
	background-color: #A8C0DD;
}

.page-flexbox-wrapper {
	 display: flex;
   min-height: 100vh;
   flex-direction: column;
	color: #525252;
}

main {
  flex: 1 1 auto;
}

.signup a {
	color: #B2B0AA;
	text-shadow: 0 0 3px black;
}

.text-bg {
	padding: 15px;
	background-color: #EAE6DB;
}

.round {	
	border-radius: 10px;
}

.btn-center {
	margin: 0 auto;
}

.contactbox {
	width: 35vw;
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
}

.block {
	display: inline-block;
}

.underline {
	text-decoration: underline;
}

.card {
	padding: 15px;
}


.profile {
	margin: 0 auto;
	height: 100px;
}

.profile-content {
	display: block;
}

.nav-color {
	background-color: #848484;
}

.footer-color {
	background-color: #848484 !important;
}


.side-nav {
	background-color: #B2B0AA;
}

.map-div {
	margin: 0 auto;
}

.map-pad {
	padding-top: 43px;
}

.light-gray {
	background-color: #B2B0AA;
}

.top-pad {
	padding-top: 15px;
}

.profile-name-box, h4 {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	padding-top: 19px;
	padding-bottom: 19px;
}

.material-editor {
	margin: 15px;
}

.customer-box {
	width: 150px;
	height: 300px;
	overflow: scroll;
}

.hide-button {
	display: none;
}

.collapsible-header:hover {
	background-color:black;
}

.collapsible-header:hover {
	color:white;
}
.colasible-btn {
	border-radius: 8px;
	background-color:#B2B0AA;
	border: 2px solid #666666;
	color:525252;
	padding: 5px;
}
.colasible-btn:hover {
	background-color:#555555;
	color:white;

}

.center {
	list-style-position: inside;
}

.special-align {
	display: inline-block; 
	text-align: left;
}

/*
Button Color: (needs to be added)
#B2B0AA lighter

Nav Color:
#848484	darker

Background Color:
#A8C0DD	blue 

Text Color:
#525252 darkest 

Div with text background color:
#EAE6DB lightest 

*/

